{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="container container-body">
        <div class="card mb-12" style="width: 100%;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{ product.image }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title fs-3">{{ product.name }}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fs-4">{{ product.description }}</li>
                            <li class="list-group-item fs-4"></li>
                        </ul>
                        <p class="card-text text-end fs-5">{{ product.price }} ₽</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="{{ path('app_admin_product_show', {'id': product.id}) }}"
                               class="btn btn-outline-success">В корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h2 class="page-title">Ваc может заинтересовать:</h2>

        <div class="row">
            {% for lastProduct in lastProducts %}
                <div class="col-md-3 mt-3">
                    <a href="{{ path('app_product_show', {'id': lastProduct.id}) }}"
                       style="color: inherit; text-decoration: none;">
                        <div class="card h-100 d-flex flex-column rounded mx-auto d-block text-center" style="width: 14rem; padding-top: 8px;">
                            <img src="{{ lastProduct.image }}" class="card-img-top img-small" alt="{{ lastProduct.name }}">
                            <div class="card-body flex-grow-1">
                                <h5 class="card-title text-center">{{ lastProduct.name }}</h5>
                            </div>
                            <div class="card-footer">
                                <p class="list-group-item text-end fs-5">{{ lastProduct.price }} ₽</p>
                                <a href="{{ path('app_admin_product_show', {'id': lastProduct.id}) }}"
                                   class="btn btn-block btn-outline-success">В корзину</a>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}