{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container security-form">

        <div class="login-form">
            <h1>Регистрация</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <br>
            {{ form_widget(registrationForm.email,{'attr':{'class':'form form-control','placeholder':"Электронная почта"}}) }}
            <br>
            {{ form_widget(registrationForm.username,{'attr':{'class':'form form-control','placeholder':"Имя пользователя"}}) }}
            <br>
            {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form form-control','placeholder':"Пароль"}}) }}
            <br>
            <label for="">Согласен с правилами сайта </label>
            {{ form_widget(registrationForm.agreeTerms) }}
            <br>
            <br>
            <button type="submit" class="btn btn-block btn-primary">Зарегистрироваться</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}