{% extends 'base.html.twig' %}

{% block title %}Категории{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h2>Категории</h2>
        <br>
        <table class="table">
            {% if categories %}
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td><a href="{{ path('app_category_show', { id: category.id }) }}">{{ category.name }}</a></td>
                    <td>
                        <a href="{{ path('app_category_update', { id: category.id}) }}">Изменить</a> |
                        <a href="{{ path('app_category_delete', { id: category.id}) }}" class="text-danger">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <p>Категории не были добавлены</p>
            {% endif %}
        </table>
        <a class="btn btn-outline-primary" href="{{ path('app_category_new') }}">Добавить новую категорию</a>
    </div>
{% endblock %}
